
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
	<meta name="keywords" content="{{ keywords_page }}">
	<meta name="description" content="{{ description_page }}">
    <title>{{ title_tag }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;900&display=swap" rel="stylesheet">
    <link  rel="stylesheet"  href="{% static "css/swiper-bundle.min.css" %}" >
	<link rel="stylesheet" href="{% static "css/style.css" %}" >
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <h1>{{ title }}</h1>
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% if slider1.first_img  %}
                        <div class="swiper-slide"><img src="{{ slider1.first_img.url }}" alt="Первая картинка"></div>
                    {% endif %}

                    {% if slider2.second_img  %}
                        <div class="swiper-slide"><img src="{{ slider2.second_img.url }}" alt="Вторая картинка"></div>
                    {% endif %}

                    {% if slider3.third_img %}
                    <div class="swiper-slide"><img src="{{ slider3.third_img.url }}" alt="Третья картинка"></div>
                    {% endif %}

                    {% if slider4.fourth_img  %}
                        <div class="swiper-slide"><img src="{{ slider4.fourth_img.url }}" alt="Четвертая картинка"></div>
                    {% endif %}

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="intro-text">

                 {% for p in text_under_slider %}
                    <p>{{ p }}</p>
                 {% endfor %}

            </div>
            <div class="products-list">

                <h2>Продукты</h2>
                <ul>
                    {% for i in products %}

                    <li>
                        <a href="product/{{ i.slug }}">{{ i.name }}</a>
                    </li>

                    {% endfor %}
                </ul>
            </div>
            <div id="map" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}"></div>
            <h2>Отправить сообщение</h2>
            <form id="form" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Ваше имя" class="text-box" id="name" onfocus="blurEvent(this)" onkeyup="onChangeEvent(this)">
                <input type="text" name="email" placeholder="Электронная почта" class="text-box" id="email" onfocus="blurEvent(this)" onkeyup="onChangeEvent(this)">
                <input type="submit" value="Отправить" class="button" onclick="event.preventDefault();onSubmitEvent()">
            </form>

        </div>
          <br>
            <br>
            <hr>
            <br>
            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ client_form.as_p }}
                </form>
            </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=28ba27e6-8179-45dd-8a90-a542e1883e67" type="text/javascript"></script>
	<script src= "{% static "js/swiper-bundle.min.js" %}"></script>
	<script src=" {% static "js/main.js" %}"></script>
</body>
</html>