
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>Страница продукта</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static "/css/style.css" %}">
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <a href="/" class="go-back">На главную</a>
            <h1>{{ name }}</h1>

            {% if img.img %}
            	<img src="{{ img.img.url }}"  alt="Тут будет изображение товара" class="product-image">
            {% endif %}

            <div class="product-info">
                <div class="product-info-item">
                    {% if title %}
                        <h2>{{ title }}</h2>
                        <ul>
                            {% for i in points %}
                                <li> {{ i.text }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="product-info-item">
                     {% if title2 %}
                        <h2>{{ title2 }}</h2>
                        <ul>

                            {% for i in points2 %}
                                <li> {{ i.text }}</li>
                            {% endfor %}

                        </ul>
                    {% endif %}
                </div>
                <div class="product-info-item">
                     {% if title3 %}
                        <h2>{{ title3 }}</h2>
                        <ul>
                            {% for i in points3 %}
                                <li> {{ i.text }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>