{% extends 'admin/base_site.html' %}


<h1>Стартовая страница админки</h1>

{% block content %}
<br>
<br>
<a class="btn" style="background-color: #008CBA; border: none; color: white; padding: 7px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 4px 2px; cursor: pointer;"  href="/admin/core/homepage/1/change/">Редактирование главной</a>
<br>
<br>
<br>
<br>
<a class="btn" style="background-color: #008CBA; border: none; color: white; padding: 7px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 4px 2px; cursor: pointer;"  href="/admin/items/item/">Редактирование продуктов</a>


{% endblock  %}


